@media only screen and (min-width: 60em) {
  body {
    max-width: 100%;
  }

  header img {
    max-width: 100%;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  nav {
    max-width: 100%;
    display: block;
    flex: 1 1 auto;
    margin: 0 auto;
  }

  h1 {
    font-size: 5em;
  }

  .hero-ph img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
  }

  .herodiv {
    max-width: 80%;
    height: auto;
  }

  .weathersummary {
    top: 100px;
    left: 100px;
    padding: 1.5rem;
  }

  .weathersummary h2 {
    font-size: 2.5rem;
  }

  .data {
    font-size: 16px;
  }

  #container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 90px 90px;
  }

  .contact h2 {
    grid-column: 2/3;
    grid-row: 1/1;
  }
  .contact h3 {
    grid-column: 2/3;
    grid-row: 2/2;
  }

  .contact p {
    grid-column: 2/3;
    grid-row: 3/3;
  }

  .map img {
    grid-column: 1/2;
    max-width: 80%;
  }

  .social {
    grid-column: 2/3;
    grid-row: 5/5;
    margin: 0 auto;
  }
}
