body {
	background-color:#BDD4F2;
	font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

header,
footer{
	max-width: 100%;
	background-color: #4F6F8C;
   	display: flex;
    padding: 1rem;
	align-items:center;
	justify-content:center;   
}

.pancakes {
	background-color: #BDD4F2;
	padding: .5rem;
	font-size: 1em;
	line-height: 1rem;
	text-align: center;
	font-weight: bold;
	color: #401D36;
  }

  #container{
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
    margin: 10px;
}

figure {
	padding: 1rem;
}
.caption {
	display: block;
	text-align: center;
	color:#401D36;
	font-size: 1.5rem;
	font-weight: bold;
    padding:1rem;
}

.gallery {
	filter: blur(0em);
    transition: filter 0.5s;
	margin: -60px 0 0 -70px;
	}


figure img:hover {
	box-shadow: 0 0 50px #333;
}

header img {
	width: 100%;
	height: auto;
}


.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 2.5rem;
	margin: 0 0 0 17px;
    color: rgb(202, 231, 250);
}

.m {
	font-weight: bold;
    letter-spacing: 1pt;
	color: rgb(54, 8, 33);
	margin-left: 20px;
}

h2 {
    font-size: 2rem;
	color: #536878;
    text-align: center;
}

h3 {
	font-size: 1.5rem;
	text-decoration-line: underline;
}

p {
	font-size: .9rem;
	line-height: 1rem;
}
nav {
    display: flex;
    margin: 0 auto;
	max-width: 100%;
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #401D36;
    
}

nav ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color:  #BDD4F2;
	text-align: center;
    padding: 1rem;
	text-decoration: none;
	font-size: 1.5rem;
}


.active {
	color: rgb(196, 189, 96);
}

.responsive li {
	display: block;
}

.navigation {
	list-style: none;
	padding: 0;
    
}

.navigation li:first-child {
	display: block;
    color: #BDD4F2;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	
}
.navigation a:hover {
	color: rgb(196, 189, 96);
}

.map img {
	display: flex;
	max-width: 90%;
	margin: 0 auto;
	box-shadow: 0 0 10px #777;	   
	} 

    .social{
        display: flex;
        margin: 0 auto;
        padding: .5rem;   
    }

/*Media query section */
@media (min-width: 37.5em) and (max-width: 59.9em) {
    body {
      max-width: 100%;
    }

    #container{
        grid-template-columns: 1fr 1fr;
        padding: 20px;
  }
}

@media only screen and (min-width: 60em) {
        body {
          max-width: 100%;
        } 
        #container{
            grid-template-columns: 1fr 1fr 1fr;
            padding: 20px;

    } 
} 