@media only screen and (min-width: 60em) {
body {
	max-width: 100%;
}

.navigation {
	display: flex;
}

.navigation li {
	display: block; 
	flex: 1 1 auto;
}

.navigation a {
	text-align: center;
}

.navigation li:first-child {
	display: none;
}
	
nav {
	max-width: 100%;
	display: block; 
	flex: 1 1 auto;
	margin: o auto;
}

section {
	box-shadow: 0 0 50px #777;
}

.towns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px; 
}

.events {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.events img {
	grid-column: 1/2;
	max-width: 100%;
	padding: 20px;
	margin-bottom: 5%;
}
.events p {
 font-size: 2rem;
 padding: 5%;
 
}

.hero-text h2{
	font-size: 6.5rem;
	top: 50%;
	left: 65%;
 }


}

