/*Media query section */
@media (min-width: 37.5em) {

    body {
        max-width: 100%;
    }

    header img {
        float: right;
        width: 100px;
        border-radius: 10px;
        }
    
    }