

body {
  background-color: #bdd4f2;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}


header {
  max-width: 100%;
  background-color: #4f6f8c;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100%;
  }

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-size: 2.5rem;
  margin: 0 0 0 17px;
  color: rgb(202, 231, 250);
}

.m {
  letter-spacing: 1pt;
  color: rgb(202, 231, 250);
  margin-left: 20px;
}

.hero-div {
max-width: 100%;
}

.hero-image img{
 max-width: 100%; 
 position: relative;
 box-shadow: 0 0 50px #777;
 padding-top: 5px;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-size: 1.2rem;
  top: 40%;
  left: 55%;
  transform: translate (-50%, -50%);
  color: white;
  text-shadow: 4px 4px 5px #4f6f8c;
}

nav {
  background-color: #401d36;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu {
  height: 50vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #401d36;
  list-style: none;
  
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}


nav .clickMenu {
  display: block;
}

section   {
  max-width: 100%;
  margin: 5px; 
  padding:5px; 
  border: 1px solid #4f6f8c;   
}

.towns {
  background-color: white;
}


.card {
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 2px; 
     background-color: white; 
     
 }

  h2 {
   color: #4f6f8c;
   text-align: center;
   font-size: 2rem;
 }

 h3 {
  color: #401d36;
  font-style: italic;
  text-align: center;
 }

 h4 {
  text-align:center;
  color: #401d36;
 }

 .events p {
  font-size: 1rem;
  text-align: left;
  text-shadow: 0px 0px 0px #4f6f8c;
  padding: 2%;
}

img{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

}

.enjoy, .events {
  color: #401d36;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 4px 4px 5px #4f6f8c;

}
.towns img {
  display: flex;
  max-width: 100%;
  box-shadow: 0 0 50px #2c3531;
  margin: 0 auto;  
}

footer {
  font-size: 1rem;
  text-align: center;
  max-width: 100%;
  background-color: #4f6f8c;
  display: block;
  align-items: center;
  justify-content: center;
    }

.contact p {
  color: whitesmoke;;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 20px;
} 

.social img {
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 #777;
 }

 #copyrightyear {
  color: white;
  text-align: center;
}

