body {
    max-width: 100%;
    background-color: #bdd4f2;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
  }
  
  header {
    max-width: 100%;
    background-color: #4f6f8c;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    width: 100%;
    height: 0 auto;
  }
  
  .headings {
    display: flex;
    flex-direction: column;
  }
  
  .headings h1 {
    font-size: 2.5rem;
    margin: 0 0 0 17px;
    color: rgb(202, 231, 250);
  }
  
  .m {
    font-style: italic;
    letter-spacing: 1pt;
    color: rgb(202, 231, 250);
    margin-left: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #536878;
    text-align: center;
    text-shadow: 5px 5px 10px #777;
  }

  h2 {
    font-size: 2rem;
    color: #536878;
    text-align: center;
  }
 
 main {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
 
  footer {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    background-color: #4f6f8c;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
      }

    .contact {
    color: whitesmoke;
    flex-flow: row wrap;
    padding: 10px;
  }
  
  .contact h3 {
    font-size: 1.5rem;
    margin: 10px;
  }
  
  .contact p {
    
    color: whitesmoke;;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 20px;
  }

  
  .social img {
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 #777;
 

      }
  
 section img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #777;
 }

 #copyright {
     display: block;
     color: whitesmoke;
     margin-top: 150px;
     text-align: center;
 }
 
