table {
  margin: 10px auto;
  border: 1px solid rgb(168, 167, 167);
  box-shadow: 0 10px 10px 0 #777;
  border-collapse: collapse;
  font-family: Ubuntu, sans-serif;
  color: black;
}

thead,
tfoot {
  background-color: #7fb9c2;
}

thead tr:nth-child(1) {
  font-size: 2rem;
}

tbody {
  font-size: 1.2rem;
}

thead tr:nth-child(2),
#colorrow {
  background-color: #628ca6;
  font-size: 1.2rem;
  color: white;
}

th,
td {
  padding: 7px 15px;
  border: 1px solid #777;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e7f0ed;
}

tbody tr:nth-child(odd) {
  background-color: #e7ffed;
}

tfoot {
  font-size: 0.85rem;
}
