body {
  background-color: whitesmoke;
  font-size: 18px;
  font-family: "Secular One", sans-serif;
}

header {
  max-width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.pancakes {
  background-color: #bdd4f2;
  padding: 0.5rem;
  font-size: 1em;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  color: #401d36;
}

header img {
  width: 100%;
}

.headings h1 {
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 0 10px;
  color: #536878;
}

.m {
  font-weight: bold;
  letter-spacing: 1pt;
  color: #536878;
  margin-left: 20px;
}

#container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  padding: 10px;
  margin: 10px;
}

figure {
  padding: 1rem;
}

figure img:hover {
  box-shadow: 0 0 50px #333;
}

.caption {
  display: block;
  color: #401d36;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.gallery {
  filter: blur(0em);
  transition: filter 0.5s;
  margin: -60px 0 0 -70px;
}

h2 {
  font-size: 2rem;
  color: #536878;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #536878;
}

p {
  color: #536878;
  font-size: 1rem;
  line-height: 1rem;
}

nav {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2e1225;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.responsive li {
  display: block;
}

.navigation {
  list-style: none;
}

.navigation li:first-child {
  display: block;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: #bdd4f2;
}

.navigation a:hover {
  color: whitesmoke;
}

.map img {
	display: flex;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 10px #777;
}

.social {
  display: flex;
  margin: .5rem;
  align-items: center;
  justify-content: center;
 
}

footer {
  background-color: #536878;;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
