body {
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

header {
  max-width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.pancakes {
  background-color: #bdd4f2;
  padding: 0.5rem;
  font-size: 1em;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  color: #401d36;
}

header img {
  width: 100%;
}

.headings h1 {
  display: flex;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 0 10px;
  color: #536878;
}

.m {
  font-weight: bold;
  letter-spacing: 1pt;
  color: #536878;
  margin-left: 20px;
}

.hero-image img {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
}

.hero-div {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	height: 300px;
	
}
.weathersummary {
  position: absolute;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  top: 50px;
  left: 50px;
  background-color: white;
  box-shadow: 0 0 30px #777;
  opacity: 0.8;
}

.weathersummary h3 {
  grid-column: span 2;
  color: rgb(182, 77, 7);
  text-align: center;
  justify-content: center;
}

.forecast {
	max-width: 90%;
	margin: 0 auto;
	padding: 1.5rem;
	text-align: center;
	justify-content: center;
}

table {
	    margin: 0 auto;
		box-shadow: 0 10px 10px 0 #777;
		padding: 2%;
		background-color:#4F6F8C;
		
}


.forecast th:hover, td:hover {
	opacity: 0.9;
	background-color: #BDD4F2;
	color: white;
}

.data {
	display: block;
	grid-template-columns: 1fr 1fr;
	padding: 5px;
	font-size: 2rem;
	color: black;
}


#container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  padding: 10px;
  margin: 0 auto;
}

figure {
  padding: 1rem;
}

figure img:hover {
  box-shadow: 0 0 50px #333;
}

.caption {
  display: block;
  color: #401d36;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.gallery {
  filter: blur(0em);
  transition: filter 0.5s;
  margin: -60px 0 0 -70px;
}

h2 {
  font-size: 2rem;
  color: #536878;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #536878;
}

p {
  color: #536878;
  font-size: 1rem;
  line-height: 1rem;
}

nav {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2e1225;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.responsive li {
  display: block;
}

.navigation {
  list-style: none;
}

.navigation li:first-child {
  display: block;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: #bdd4f2;
}

.navigation a:hover {
  color: whitesmoke;
}

.active {
  color: whitesmoke;
}

.enjoy,
.events h3 {
  font-size: 1rem;
  text-align: center;
  background-color: #2e1225;
  margin-top: 8%;
}


.towns {
  display: grid;
  place-items: center;
  margin: 0.5rem;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}

.towns img {
  box-shadow: 0 0 50px #2c3531;
}

.events p {
  font-size: 1rem;
  text-align: left;
  text-shadow: 0px 0px 0px #4f6f8c;
  padding: 2%;
}

.events img {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.map img {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 10px #777;
}

.social {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #536878;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

/* ----------------FORM-------------*/

form fieldset {
  margin: 0 5% 2% 5%;
  border: 2px solid #401d36;
  border-radius: 15px;
  padding: 2rem 10%;
}

form legend {
  color: #401d36;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top {
  display: block;
  padding-top: 1rem;
  color: #401d36;
  font-size: 1rem;
}

form label.top input,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #4f6f8c;
  border-radius: 4px;
  padding: 1rem;
  color: #4f6f8c;
  width: 100%;
  max-width: 20rem;
  background-color: whitesmoke;
}

form label.stormdate,
label.stormtype,
label.stormseverity,
label.stormregion,
label.dangerlevel,
label.comments {
  display: block;
  padding-top: 2rem;
  color: #401d36;
  font-size: 1rem;
}

form label.stormdate input,
label.stormtype input,
label.stormseverity input,
label.stormregion select,
label.comments textarea {
  display: block;
  color: #4f6f8c;
  font-size: 1rem;
  border: solid 1px #4f6f8c;
  border-radius: 4px;
  width: 100%;
  max-width: 20rem;
}

form label.level {
  display: flex;
  color: #401d36;
  margin: 5px;
}

form label.level input {
  margin: 5px;
}

form input.submitBtn {
  border: none;
  background-color: #401d36;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 auto;
  width: 96%;
  max-width: 15rem;
}
